<div>
  <h1>User info</h1>
  <%= image_tag user.get_profile_image(100,100) %>
  <h3>name <%= user.name %></h3>
  <p>introduction <%= user.introduction %></p>
  <br>
  <% if user == current_user %>
    <p><%= link_to "User info", edit_user_path(user) %></p>
  <% end %>
</div>
