<div>
  <h2>User info</h2>
  <%= image_tag user.get_profile_image(100,100) %>
  <h3>name <%= user.name %></h3>
  <p>introduction <%= user.introduction %></p>
  <br>
  <% if user == current_user %>
    <%= link_to edit_user_path(@user) do %>
      <button class="b-size">
        <i class="fa-solid fa-user-gear fas_button_borderradius text-dark"></i>
        <% end %>
      </button>

        <% end %>
</div>
