  <div class="row m-3">
    <div class="col-lg-4 col-sm-2 col-xs-1"></div>
    <div class="col-lg-4 col-sm-8 col-xs-10 text-left">
      <h1>welcome to <strong>Bookers</strong> !!</h1>
      <p>in <strong>Bookers,</p>
      <br>
      <p>you can share and exchange your opinions , inpressions, and emotions</p>
      <br>
      <p>about various books!</p>
    </div>
    <div class="col-lg-4 col-sm-2 col-xs-1"></div>
  </div>